<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432161236487-2cru3cn7p0k9aom7j7t4d7p535umf6uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432161236487-2cru3cn7p0k9aom7j7t4d7p535umf6uu</string>
	<key>API_KEY</key>
	<string>AIzaSyAsp6IJ2Sdyfd302TXLhDn4LE-un4UiWig</string>
	<key>GCM_SENDER_ID</key>
	<string>432161236487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>laidstall.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>laidchat-758b3</string>
	<key>STORAGE_BUCKET</key>
	<string>laidchat-758b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432161236487:ios:f5d8c925f248e40584eca2</string>
</dict>
</plist>